body {
    background-color: #483EA8;
    color: #483EA8;
}

.navbar {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: #483EA8;
    margin: 0 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.styled-table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 200px;   
    background-color: white;
    
    height: 500px;
    border: 5px solid #B5B1DC;
    overflow: auto;
}
.styled-table th,
.styled-table td {
    text-align: center; /* Center align text in table cells */
    padding: 10px;
}

.styled-table button {
   
    margin: 0 auto; /* Center align buttons in cells */
}
.styled-table thead tr {
    background-color: #817ac4;
    color: #ffffff;
    text-align: left;
}
.add-class-button {
    background-color: white;
    color: #483EA8;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.plus-sign {
    margin-left: 5px;
    font-size: 18px;
}
.add-details {
    background-color: white;
    color: #483EA8;
    border: 1px solid #483EA8; /* Add border here */
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
