body {
    background-color: #483EA8;
}

.navbar {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.signin-box {
    background-color: white;
    border-radius: 50px;
    width: 800px;
    height: 500px;
    padding: 20px;
    text-align: center;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid #B5B1DC;
}

.signin-heading {
    font-size: 40px;
    font-family: 'Mulish', sans-serif;
    color: #483EA8;

}

.input-group {
    margin: 20px 0;
}

.input-group label {
    display: block;
    font-size: 18px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.sign-in-button {
    background-color: #483EA8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
}

input[type="checkbox"] {
    border-radius: 50%;
    background-color: #483EA8;
    opacity: 0.57;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #483EA8;
}

.input-group label {
    text-align: left;
    margin-bottom: 5px;
}

.input-group input {
    border: none;
    border-bottom: 1px solid #000;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #483EA8;
}